body {
    background-color: #2d1e3e; /* Dark purple color */
    color: #ffffff; /* Setting text color to white for readability */
    font-family: Bahnschrift SemiLight Condensed; /* Ensuring the font is consistent */
    margin: 0; /* Removing default margin */
    padding: 0; /* Removing default padding */
}


header, footer {
    background-color: transparent; /* Makes the header/footer have the same background as the body */
    color: white;
    padding: 20px;
    text-align: center;
 }
 
 nav ul {
     list-style-type: none;
     padding: 0;
 }
 
 nav ul li {
     display: inline;
     margin-right: 10px;
 }
 
 nav ul li a {
     text-decoration: none;
     color: #ccc; /* Lighter color for links to make them stand out */
 }
 